**.mti
**.mpf
**.bak
**.wlf
**.bak
**.json
**/.vs/
**/.vscode/
**/work/
transcript
!assembler
assembler/**.vs
assembler/Debug
assembler/**.sln
!assembler/assembler.cpp
!assembler/input.txt
!assembler/output.txt
assembler/assembler.vcxproj
assembler/assembler.vcxproj.filters
assembler/assembler.vcxproj.user
assembler/Debug/assembler.exe
assembler/Debug/assembler.exe.recipe
**/output_files
**/db
*.ilk
*.log
assembler/Debug/assembler.obj
assembler/Debug/assembler.pdb
assembler/Debug/assembler.tlog/assembler.lastbuildstate
assembler/Debug/assembler.tlog/CL.command.1.tlog
assembler/Debug/assembler.tlog/CL.read.1.tlog
assembler/Debug/assembler.tlog/CL.write.1.tlog
assembler/Debug/assembler.tlog/link.command.1.tlog
assembler/Debug/assembler.tlog/link.read.1.tlog
assembler/Debug/assembler.tlog/link.write.1.tlog
assembler/Debug/vc142.idb
assembler/Debug/vc142.pdb
assembler/Debug/assembler.vcxproj.FileListAbsolute.txt
*.vcxproj
*.filters
*.user
*.recipe
*.obj
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.cdb
*.hdb
*.qmsg
*.kpt
*.rdb
*.bpm
*.logdb
*.db_info
*.hsd
*.xml
*.xml
*.hier_info
*.hier_info
*.hif
*.hif
*.html
*.html
*.ammdb
*.ammdb
*.flock
*.flock
*.sci
*.sci
*.tdb
*.ddb
*.ddb
*.tmw_info
*.tmw_info
*.json
*.dfp
*.dfp
*.sig
*.sig
*.rcfdb
*.rcfdb
*.dpi
*.dpi
*.hb_info
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
incremental_db/README
*.sft
*.vo
*.xrf
db/cpu_16bit.lpc.txt
db/cpu_16bit.smart_action.txt
*.nvd
*.qws
*.tdf
c5_pin_model_dump.txt
vish_stacktrace.vstf
